# no log files:
error.log
*.log

# no build files
/dist/
/build/
/pyWAD.egg-info/
__pycache__/
*.pyc
*.pyo

# no temporary or autosave files
.\#*
*~
~*

# no images
*.png
*.jpg
*.jpeg
*.gif

# no data(archives)
*.zip
*.dcm
/pyWADdemodata/

# no testresults
Tools/PluginTesting/TestingOutput/

# latex temporary files
*.aux
*.bbl
*.blg
*.dvi
*.fls
*.idx
*.ilg
*.ind
*.out
*.synctex.gz
*.toc

# latex output
*.pdf

# wingide layout
*.wpu
